.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #191414;
}

.login > img {
    width: 25%;
}

.login > a {
    padding: 20px;
    border-radius: 99px;
    background-color: #1DB954;
    font-weight: bold;
    color:  #191414;
    text-decoration: none;
}
